<div class="signup-wrapper">
<h1>Sign Up</h1>
  <form class="signup-form" action="/auth/signup" method="POST">
    <div class="form-input">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="John Doe">
      </div>
    <div class="form-input">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" placeholder="JohnDoe">
    </div>
    <div class="form-input">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div class="signup-radio">
      <label class="label-role student" for="role">Student</label>
      <input type="radio" name="role" value="student" id="role" />
      <label class="label-role employer" for="role">Employer</label>
      <input type="radio" name="role" value="employer" id="role" />
    </div>
    <div class="form-button">
      <button>Create account</button>
    </div>
    <% if (typeof(message) != "undefined") { %>
      <div class="error"><p><%= message %></p></div>
    <% } %>
  </form>
  <span>You already have an account? <a href="/auth/login">Log In</a></span><br>
  <span>Back to <a href="/">homepage</a></span>
</div>