<!DOCTYPE html>
<html>
  <head>
    <title>WYRCAN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body>
    <div class="main-wrapper">
      <header class="header-wrapper">
        <div class="header-logo">
          <a href="/jobs">
            <img src="/images/small-logo-wyrcan.png" alt="Wyrcan Logo" />
          </a>
        </div>
        <% if(user) { %>
        <div class="header-logout">
          <form action="/auth/logout" method="POST">
            <button>Log out</button>
          </form>
        </div>
        <% } %>
      </header>
      <div class="content-wrapper">
        <%- body %>
      </div>
      <footer>
        Developed By <span class="bold">David Teixeira</span> & <span class="bold">Pere Amorós</span>
      </footer>
    </div>
  </body>
</html>