<!DOCTYPE html>
<html>
  <head>
    <title>WYRCAN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <% if(user) { %>
      <form action="auth/logout" method="POST">
        <button>Log out</button>
      </form>
      <% } %>
    </header>
    <div class="main-wrapper">
      <%- body %>
    </div>
    <footer></footer>
  </body>
</html>