<h1>WYRCAN</h1>
<p>
  Are you a student wanting to enter in the labour market?<br>
  Are you an employer looking for young talent?
  <br>
  <span>If the answer is YES Wyrcan is for you!</span>
</p>
<a href="/auth/signup">Sign Up</a><br>
<a href="/auth/login">Log In</a>