<div class="home-content">
  <div class="home-title">
    <h1>WYRCAN</h1>
    <!-- <img src="/images/logo-wyrcan.png" /> -->
  </div>
  <div class="home-description">
    <p>
      Are you a student wanting to enter in the labour market?<br>
      Are you an employer looking for young talent?
      <br>
      <span>If the answer is YES Wyrcan is for you!</span>
    </p>
  </div>
  <div class="home-auth">
    <a class="btn-home-signup" href="/auth/signup">
      <div class="home-signup"><span>Sign Up</span></div>
    </a>
    <a class="btn-home-login" href="/auth/login">
      <div class="home-login"><span>Log In</span></div>
    </a>
  </div>
</div>