<div class="home-content">
  <div class="home-title">
    <h1>WYRCAN</h1>
  </div>
  <div class="home-description">
    <p>
        Wyrcan is an APP dedicated to connecting employers with undiscovered talent
    </p>
  </div>
  <div class="home-auth">
    <a class="btn-home-signup" href="/auth/signup">
      <div class="home-signup"><span>Sign Up</span></div>
    </a>
    <a class="btn-home-login" href="/auth/login">
      <div class="home-login"><span>Log In</span></div>
    </a>
  </div>
</div>