/* -- RESET -- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button {
  border: 0px;
  border-radius: 2px;
  padding: 10px 15px;
  cursor: pointer;
}
input::placeholder, textarea::placeholder{
  color: #ddd;
}
/* -- TYPOGRAPHY -- */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.content-wrapper{
  color: #444;
}
/* -- LAYOUT -- */
body {
  margin: 0;
}
.main-wrapper{
  max-width: 960px;
  margin: 0 auto;
}
header{
  padding: 10px 20px;
  background: #1371A7;
}
footer{
  background: #444;
  color: white;
  text-align: center;
  padding: 10px 20px;
}
.content-wrapper{
  padding: 20px;
  background: #fff;
}
.container {
  padding: 20px;
  background: #f2f4ff;
}

/* -- COMPONENTS -- */
button{
  color: #1371A7;
  background: #ddd;
  box-shadow: 0px 3px 0px #CFCDCB;
  font-weight: bold;
}
.bold{
  font-weight: bold;
}
  /* HEADER */
.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo img{
  width: 50px;
}
  /* FOOTER */
.footer-name{
  font-weight: bold;
}
  /* HOME */
.home-content{
  text-align: center;
}
.btn-home-signup,.btn-home-login {
  text-decoration: none;
  font-weight: bold;
  color: #fff; 
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 2px;
}
.btn-home-signup, .btn-signup{
  background: #35b535;
  box-shadow: 0px 3px 0px #248224;
}
.btn-home-login, .btn-login{
  background: #00B7FF;
  box-shadow: 0px 3px 0px #1371A7;
}
.home-signup, .home-login{
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 10px;
}
  /* LOGIN - SIFNUP  */
.login-wrapper, .signup-wrapper{
  color: #444;
  margin-bottom: 20px;
}
  /* FORMS */
.form-input, .form-button, .form-textarea {
  margin-bottom: 15px;
}
.form-input label{
  display: block;
  margin-bottom: 10px;
}
.form-input input{
  width: 100%;
  padding: 10px 5px;
  font-size: 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.form-button button{
  width: 100%;
  padding: 15px 5px;
  font-size: 14px;
  color: #fff;
  /* background: #35b535;
  box-shadow: 0px 3px 0px #248224; */
}
.error{
  color: red;
  font-size: 12px;
  text-align: center;
}
.form-textarea textarea {
  outline: none;
  resize: none;
  width: 100%;
  border: 1px solid #ddd;
  margin: 0;
  padding: 5px;
}
  /* JOBS LIST (student view) */
.job-list a, .myjobs-list a  {
  text-decoration: none;
  color: #444;
}
.job-item, .myjobs-item {
  background: rgba(0, 0, 0 , 0.02);
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 2px;
}
.job-position h2, .myjobs-position h2 {
  margin-top: 0px;
}
.job-description p, .myjobs-description h2 {
  margin: 0;
  font-size: 12px;
}
  /* JOB APPLY */
.apply-description, .apply-form{
  margin-bottom: 25px;
}
  /* MYJOBS (employer view)  */
.myjobs-nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  background: #eee;
  padding: 20px 5px;
}




  /* -- RadioCheckBox  -- */
.signup-radio{
  display: flex;
  justify-content: space-around;
}
.signup-input{
  position: relative;
}
.signup-input input{
  position: absolute;
  top: 3px;
  left: 4px;
  z-index: 9999;
}
.signup-input label{
  display: inline-block;
  padding: 20px;
  cursor:pointer;
  border-radius: 5px;
  border-top-left-radius: 15px;
  background: #4B8FB6;
  color: #fff;
}
.signup-input input[type="radio"]:checked+label {
  background-color: #1371A7;
}
.signup-input label:hover{
  -webkit-filter: brightness(1.1) grayscale(0) opacity(1);
     -moz-filter: brightness(1.1) grayscale(0) opacity(1);
          filter: brightness(1.1) grayscale(0) opacity(1);
}
/* -- Active --*/
button:active, .btn-home-signup:active,.btn-home-login:active { 
  box-shadow: none;
  position: relative;
  top: 3px;
}