/* -- RESET -- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button {
  border: 0px;
  border-radius: 2px;
  padding: 10px 15px;
}
input::placeholder{
  color: #ddd;
}
/* -- TYPOGRAPHY -- */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
/* -- LAYOUT -- */
body {
  margin: 0;
}
.main-wrapper{
  max-width: 960px;
  margin: 0 auto;
}
header{
  padding: 10px 20px;
  background: #1371A7;
}
footer{
  background: #444;
  color: white;
  text-align: center;
  padding: 10px 20px;
}
.content-wrapper{
  padding: 20px;
  background: #fff;
}
.container {
  padding: 20px;
  background: #f2f4ff;
}

/* -- COMPONENTS -- */
.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo img{
  width: 50px;
}
.footer-name{
  font-weight: bold;
}
.home-content{
  text-align: center;
}
.home-auth a{
  text-decoration: none;
  color: #fff; 
}
.home-signup, .home-login{
  padding: 15px;
  width: 80%;
  margin: 0 10%;
  border-radius: 2px;
  margin-bottom: 10px;
  /* color: #fff; */
}
.home-signup{background: #35b535}
.home-login{background: #00B7FF}
.login-wrapper, .signup-wrapper{
  color: #444;
  margin-bottom: 20px;
}
.form-input, .form-button {
  margin-bottom: 15px;
}
.form-input label{
  display: block;
  margin-bottom: 10px;
}
.form-input input{
  width: 100%;
  padding: 10px 5px;
  font-size: 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.form-button button{
  width: 100%;
  padding: 10px 5px;
  font-size: 14px;
  background: #35b535;
  color: #fff;
  border-radius: 2px;
  border: none;
}
.error{
  color: red;
  font-size: 12px;
  text-align: center;
}
/* -- RadioCheckBox  -- */
.signup-radio{
  display: flex;
  justify-content: space-around;
}
.signup-input{
  position: relative;
}
.signup-input input{
  position: absolute;
  top: 2px;
  left: 2px;
}
.signup-input label{
  display: inline-block;
  padding: 20px;
  cursor:pointer;
  border-radius:2px;
  background: #4B8FB6;
  color: #fff;
}
.signup-input input[type="radio"]:checked+label {
  background-color: #1371A7;
}
.signup-input label:hover{
  -webkit-filter: brightness(1.1) grayscale(0) opacity(1);
     -moz-filter: brightness(1.1) grayscale(0) opacity(1);
          filter: brightness(1.1) grayscale(0) opacity(1);
}