/* -- RESET -- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* -- TYPOGRAPHY -- */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
/* -- LAYOUT -- */
body {
  margin: 0;
}
.main-wrapper{
  max-width: 960px;
  margin: 0 auto;
}
header{
  padding: 10px 20px;
  background: #1371A7;
}
footer{
  background: #444;
  color: white;
  text-align: center;
  padding: 20px;
}
.content-wrapper{
  padding: 20px;
}
.container {
  padding: 20px;
  background: #f2f4ff;
}

/* -- COMPONENTS -- */
.header-logo img{
  width: 50px;
}
.footer-name{
  font-weight: bold;
}
.home-content{
  text-align: center;
}
.home-auth a{
  text-decoration: none;
  color: #fff; 
}
.home-signup, .home-login{
  padding: 15px;
  width: 80%;
  margin: 0 10%;
  border-radius: 2px;
  margin-bottom: 10px;
  /* color: #fff; */
}
.home-signup{background: #35b535}
.home-login{background: #00B7FF}
.login-wrapper, .signup-wrapper{
  color: #444;
  margin-bottom: 20px;
}
.form-input {
  margin-bottom: 15px;
}
.form-input label{
  display: block;
  margin-bottom: 10px;
}
.form-input input{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.form-button button{
  width: 100%;
  border-radius: 0px;
  border: none;
  background: #35b535;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
}
.error{
  color: red;
  font-size: 10px;
  text-align: center;
}