<h1>Archived Jobs</h1>

<h2><ul>
    <% jobs.forEach((job) => { %>
      <li>
         Job Position: <%= job.position %>  
         Job Description: <%= job.description %> 
         <form action="/my-jobs/<%= job._id%>/unarchive" method="POST">
            <button>Unarchive</button>
          </form>
      </li>
        </a>
    <% }) %>
  </ul></h2>  
  <span>Back to <a href="/my-jobs">My Jobs</a></span>