<div class="myjobs-nav">
  <div></div>
  <div class='nav-route'>
      <a href="/applied"> My applied jobs</a>
  </div>
</div>
<h1>Wyrcan - Job Offers</h1>
<p>Welcome <%= user.name %>!</p>
<div class="job-list">
<% jobs.forEach((job) => { %>
  <a href='/jobs/<%= job._id%>/apply'>
    <div class="job-item">
      <div class="job-position">
        <h2><%= job.position %></h2>
      </div>
    </div>
  </a>
<% }) %>
<% console.log(jobs, jobs.length, 'hola') %>
<% if(jobs.length === 0) {%>
  <div class="job-item">
    <div class="job-description">
        Looks like nobody is hiring now.
    </div>
  </div>
<% } %>
</div>

