<h1>Wyrcan - Job Offers</h1>
<p>Welcome <%= user.name %>!</p>
<div class="job-list">
<% jobs.forEach((job) => { %>
  <a href='/jobs/<%= job._id%>/apply'>
    <div class="job-item">
      <div class="job-position">
        <h2><%= job.position %></h2>
      </div>
    <div class="job-description">
        <p><%= job.description %></p>
    </div>    
    </div>
  </a>
<% }) %>
</div>

