<div class='job-details'>
    <h1>Job Details</h1>
    <div class='job-position'>
        <%= job.position %>
    </div>
    <div class='job-description'>
        <%= job.description %>
    </div>
</div>
<div class='applicants'>
    <h2>Applicants</h2>

</div>
<span>Back to <a href="/my-jobs">My Jobs</a></span>