<div class='job-details'>
    <h1>Job Details</h1>
    <div class='job-position'>
        <%= job.position %>
    </div>
    <div class='job-description'>
        <%= job.description %>
    </div>
</div>
<div class='apply-form'>
    <h2>Apply to this job</h2>
    <form method="POST" action='/jobs/<%=job._id%>/apply'>
        <div class='form-textarea'>
            <textarea rows='15' cols='50'>Tell us a little bit about yourself.
            </textarea>
        </div>
        <div class='apply-button'>
            <button>Apply</button>
        </div>
    </form>
</div>
<span>Back to <a href="/jobs">Jobs</a></span>