<h1>My Jobs</h1>
<p>You entered as an employer</p>

<header>
    <% if(user) { %>
    <form action="/my-jobs" method="POST">
      <button>Create a job</button>
    </form>
    <% } %>
  </header>
<a href = '/my-jobs/archive'>Archives</a>
  <h2><ul>
    <% jobs.forEach((job) => { %>
        <a href='/jobs/<%= job._id%>'> 
      <li>
         Job Position: <%= job.position %>  
         Job Description: <%= job.description %> 
      </li>
      View details
        </a>
    <% }) %>
  </ul></h2>  