<h1>My Jobs</h1>
<p>You entered as an employer</p>

<header>
    <% if(user) { %>
    <form action="/my-jobs" method="POST">
      <button>Create a job</button>
    </form>
    <% } %>
  </header>

  
  
  <h2><ul>
    <% jobs.forEach((jobs) => { %>
      <li>
         Job Position: <%= jobs.position %>  
         Job Description: <%= jobs.description %> 
      </li>
    <% }) %>
  </ul></h2>  