<div class="myjobs-nav">
  <div>
    <form action="/my-jobs" method="POST">
      <button>Create a job</button>
    </form>
  </div>
  <a href = '/my-jobs/archive'>Archives</a>
</div>
<h1>Wyrcan - My Jobs</h1>
<p>Welcome <%= user.name %>!</p>
<div class="myjobs-list">
  <% jobs.forEach((job) => { %>
    <a href='/jobs/<%= job._id%>'> 
      <div class="myjobs-item">
        <div class="myjobs-position">
          <h2><%= job.position %></h2>
        </div>
      </div>
    </a>
  <% }) %>  
  <% if(jobs.length === 0) {%>
    <div class="job-item">
      <div class="job-description">
        <p>Your jobs list is empty.<br>Try creating one by clicking the button above.</p>
      </div>
    </div>
  <% } %>
</div>
